.image-container {
    width: 50%; /* Set the width to 100% for responsiveness */
    max-width: 100%; /* Ensure the container doesn't exceed the viewport width */
    position: relative;
    text-align: center; /* Center the image horizontally */

    
}
.image-container img {
        max-width: 100%; /* Set the maximum width of the image to 100% of the container */
        height: auto; /* Maintain the original image aspect ratio */
        display: block; /* Remove any spacing beneath the image */
        margin: 0 auto; /* Center the image horizontally within the container */
    }

footer i {
  font-size: 4vh;
}
