.image-container {
    width: 50%; /* Set the width to 100% for responsiveness */
    max-width: 100%; /* Ensure the container doesn't exceed the viewport width */
    position: relative;
    text-align: center; /* Center the image horizontally */

    
}
.image-container img {
    max-width: 100%; /* Set the maximum width of the image to 100% of the container */
    height: auto; /* Maintain the original image aspect ratio */
    display: block; /* Remove any spacing beneath the image */
    white-space: nowrap;margin: 0 auto; /* Center the image horizontally within the container */
}

@media only screen and (orientation: landscape) {
  footer p {
    font-size: 4vh;
  }
  footer i {
    font-size: 4vh;
  }
}
@media only screen and (orientation: portrait) {
  footer p {
    font-size: 4vw;
  }
  footer i {
    font-size: 4vw;
  }
}
